<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%t] %c - %m%n" />
		</layout>
	</appender>

	<appender name="R" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="corona.log" />
		<param name="MaxFileSize" value="20000KB" />
		<!-- Keep one backup file -->
		<param name="MaxBackupIndex" value="10" />
		<!-- <layout class="org.apache.log4j.xml.XMLLayout"> <param name="ConversionPattern" 
			value="%d{dd MMM yyyy HH:mm:ss,SSS} %p %t %c - %m%n" /> </layout> -->

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%t] %c - %m%n" />
		</layout>
	</appender>

	<root>
		<priority value="info" />
		<appender-ref ref="console" />
		<appender-ref ref="R" />
	</root>
</log4j:configuration>
